
         <div class="panel panel-default main"  ng-init="find()"   ng-hide="!authentication.user">
           <div class="panel-heading">
             <h3 class="panel-title"><img ng-src="/images/soccer.svg"> Sports </h3>
           </div>
           <div class="panel-body">
             <input class="articles" type = 'text' ng-model = 'search.title' placeholder="Search for article...">
             <input type = 'hidden' ng-model = 'sport.category' ng-init="sport.category='sports'" placeholder="search articles">
                 <ul  >
                      <li class="articles" data-ng-repeat="article in articles|filter:search|filter:sport">
                         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <a ui-sref="articlesId({articleId:article._id})" class="articleLinks">{{article.title}}</a>
                 <br>
                     <small>Posted <i>{{article.created |date:'mediumDate'}}</i></small>
                 <small>by <i>{{article.author}}</i> / {{article.category}}</small>
                         <small style="visibility:hidden">{{article.creator.id}}</small>

                              </li>
                             </ul>
           </div>
         </div>
